footer {
    background-color: #000;
    color: #fff;
}

.footer-container {
    display: flex;
    padding: 70px;
    align-items: center;
    justify-content: space-around;
}

.footer-container .logo {
    width: 100px;
}

.footer-container .item-container {
    width: 200px
}

.copy {
    text-align: center;
    padding: 10px;
}

/* Responsivo */

@media (max-width: 768px) {
    
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container .item-container {
        margin-top: 20px;
    }
}

@media (max-width: 436px) {

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container .item-container {
        margin-top: 20px;
    }
}