/* Seção Banner */
.banner {
    margin-top: 50px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px #000;
}

.banner-principal {
    background-color: #F9DB79;
    background-image: url('/public/assets/banner-home.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilos Comuns */

.secao-sabores,
.secao-eventos,
.secao-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-sabores div,
.secao-eventos div,
.secao-sobre div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.secao-sabores div h2,
.secao-eventos div h3,
.secao-sobre div h3{
    font-size: 28px;
    font-weight: 700;
}

.secao-sabores div span,
.secao-eventos div span,
.secao-sobre div span{
    font-weight: 600;
    font-style: italic;
    padding-bottom: 40px;
}

.secao-sabores div, .secao-sabores img,
.secao-eventos div, .secao-eventos img,
.secao-sobre div, .secao-sobre img {
    width: 50%;
}

/* Responsivo */

@media (max-width: 768px) {
    
    .secao-sabores,
    .secao-sobre {
        flex-direction: column;
    }

    .secao-sabores div,
    .secao-eventos div,
    .secao-sobre div {
        text-align: center;
        margin: 100px;
    }    

    .secao-sabores div, .secao-sabores img,
    .secao-eventos div, .secao-eventos img,
    .secao-sobre div, .secao-sobre img {
        width: 100%;
    }

    .secao-eventos {
        flex-direction: column-reverse;
    }
}

@media (max-width: 436px) { 

    .banner {
        margin-top: 120px;
    }

    .secao-sabores,
    .secao-sobre {
        flex-direction: column;
    }

    .secao-sabores div,
    .secao-eventos div,
    .secao-sobre div {
        text-align: center;
    }    

    .secao-sabores div, .secao-sabores img,
    .secao-eventos div, .secao-eventos img,
    .secao-sobre div, .secao-sobre img {
        width: 100%;
    }

    .secao-eventos {
        flex-direction: column-reverse;
    }
}