/* Seção Banner */
.banner {
    margin-top: 50px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px #000;
}

.banner-principal {
    background-color: #F9DB79;
    background-image: url('/public/assets/banner-home.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilos Comuns */

.sabores-home,
.eventos,
.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sabores-home div,
.eventos div,
.sobre div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.sabores-home div h2,
.eventos div h3,
.sobre div h3{
    font-size: 28px;
    font-weight: 700;
}

.sabores-home div span,
.eventos div span,
.sobre div span{
    font-weight: 600;
    font-style: italic;
    padding-bottom: 40px;
}

.sabores-home div, .sabores-home img,
.eventos div, .eventos img,
.sobre div, .sobre img {
    width: 50%;
}

/* Responsivo */

@media (max-width: 768px) {
    
    .sabores-home,
    .sobre {
        flex-direction: column;
    }

    .sabores-home div,
    .eventos div,
    .sobre div {
        text-align: center;
        margin: 100px;
    }    

    .sabores-home div, .sabores-home img,
    .eventos div, .eventos img,
    .sobre div, .sobre img {
        width: 100%;
    }

    .eventos {
        flex-direction: column-reverse;
    }
}

@media (max-width: 436px) { 

    .banner {
        margin-top: 120px;
    }

    .sabores-home,
    .sobre {
        flex-direction: column;
    }

    .sabores-home div,
    .eventos div,
    .sobre div {
        text-align: center;
    }    

    .sabores-home div, .sabores-home img,
    .eventos div, .eventos img,
    .sobre div, .sobre img {
        width: 100%;
    }

    .eventos {
        flex-direction: column-reverse;
    }
}