.banner-sabores {
    background-image: url('/public/assets/banner-sabores.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sabores-pagina {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sabores-pagina .card-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card-container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 300px;
    height: 400px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.card-container .card img {
    width: 90%;
    margin: 10px;
}

.card-container .card h3 {
    margin-bottom: 10px;
}